/* styles.css */

body { 
  font-family: Arial, sans-serif; 
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Use full height of the viewport */
}

.buttons-container {
  /* If you want the buttons to be inline and centered */
  display: flex;
  justify-content: center;
}

.bingo-board { 
  display: grid; 
  grid-template-columns: repeat(10, 1fr); 
  grid-gap: 10px; 
  max-width: 500px; 
  margin: auto; 
  justify-content: center;
}

.bingo-cell { 
  background: #f7f7f7; 
  border: 1px solid #ccc; 
  padding: 20px; 
  text-align: center; 
  cursor: pointer; 
}

.bingo-cell:hover { 
  background: #eee; 
}
  
.bingo-cell.completed { 
  background: #aaffaa; 
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 20px;
  padding: 0;
}

nav {
  background-color: #ffffff;
  overflow: hidden;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  color: #007bff;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #ddd;
}

.rules-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  text-align: center;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h3 {
  color: #333;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: 20px;
}

p {
  color: #666;
  font-style: italic;
  margin-top: 10px;
}

.date-range {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

#pointsCounter {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5em;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.friends-section {
text-align: center;
margin-bottom: 20px;
}

.friends-list ul {
list-style-type: none;
padding: 0;
display: inline-block;
}

.friends-list li {
cursor: pointer;
display: inline-block;
margin: 0 10px;
}

.friend-name:hover {
text-decoration: underline;
}

/* New styles for footer */
footer {
text-align: center;
padding: 20px;
background-color: #f8f8f8;
border-top: 1px solid #e7e7e7;
margin-top: 20px;
}

footer p {
margin: 10px 0;
}

footer a {
color: #007bff;
margin: 0 10px;
text-decoration: none;
}

footer a:hover {
text-decoration: underline;
}

/* Additional styles */
.title {
  margin-top: 50px;
  font-size: 48px;
  color: #333;
}

.view-boards {
  margin: 20px;
  font-size: 24px;
  color: #555;
}

.bingo-button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bingo-button:hover {
  background-color: #0056b3;
}

/* Add any additional styles you need below */
